@import "client";

.beat-list {
  display: flex;
  flex-direction: row;
  height: $beat-height;
  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none;
}

.beat-list__placeholder {
  width: $width;
  border: 2px solid transparent;
  margin: $margin;
}

.beat-list__new {
  height: $beat-height;
  width: $width;
}

.beat-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.beat-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 1px solid black;
  border-radius: $border-radius;
  outline: 1px solid transparent;
  background-color: $title-background;
  padding: $padding;
  margin: $margin;
  width: $width;
}

.beat-list__item__editing {
  @extend .beat-list__item;

}
