@import "client";

.beat-list {
  display: flex;
  flex-direction: row;
  height: $height;
  width: 100%;

  margin: 0;
  padding: 0;
  list-style: none;
}

.beat-list__placeholder {
  width: $width;
  border: 2px solid $body-background-color;
}

.beat-list__new {
  height: $height;
  width: $width;
}

.beat-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.beat-list__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  border: 1px solid black;
  outine: 1px solid $body-background-color;
  padding: $padding;
  margin: $margin;
  width: $width;
}
