@import "client";

.card__box {
  position: relative;
  top: -90px;
  left: 120px;
}

.card {
  display: inline-block;
  height: 90px;
  width: 120px;
  margin-right: 5px;
}

.card__real {
  @extend .card;
  border: 1px solid black;
  border-radius: 10px;
  background: #ccc;
}

.card__blank {
  @extend .card;
}

.card__blank:hover {
  border: 2px dashed #aaa;
  border-radius: 10px;
  background: #ddd;
}

.card__title {
  padding: 20px 5px 20px 5px;
  height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}