@import "client";

.card__box {
  position: relative;
  top: -90px;
  left: $width;
}

.card {
  display: inline-block;
  height: $height;
  width: $width;
  margin: $margin;
}

.card:hover {
  cursor: pointer;
}

.card__real {
  @extend .card;
  border: 2px solid black;
  border-radius: $border-radius;
  background: $card-background;
}

.card__blank {
  @extend .card;
}

.card__blank:hover {
  border: $new-item-border;
  border-radius: $border-radius;
  background: $new-item-background;
}

.card__title {
  padding: $padding;
  height: $height;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__create-button {
  line-height: $height;
  // margin:auto;
}
