.card-dialog {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-dialog__description {
  flex-grow: 1;
}

.card-dialog__close {
  align-self: flex-end;
}

.card-title-editor {
  display: flex;
  flex-direction: column;
}

.card-title-editor__button-bar {
  margin-top: 5px;
  display: flex;
  flex-direction: row-reverse;
}

.card-title-editor__save {
  margin: 5px 3px;
}

.card-title-editor__cancel {
  margin: 5px 3px;
}
