// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$body-background-color: #efefee;
$title-background: white;

$height: 113px;
$width: 150px;

$beat-height: $height/2;

$margin: 0px 25px 0px 0px;
$margin-left: 0px 0px 0px 25px;
$padding: 20px 10px 20px 10px;

$border-radius: 4px;

$card-background: #ddedff;

$svg-line-width: 2;
// $svg-line-color: #963232;

$new-item-background: #ddd;
$new-item-border: 2px dashed #aaa;
