// Place all the styles related to the Client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$body-background-color: #efefee;

$height: 90px;
$width: 120px;

$margin: 0px 5px 0px 0px;
$padding: 20px 10px 20px 10px;

$border-radius: 4px;

$card-background: #ddedff;

$svg-line-width: 3;
$svg-line-color: #963232;

$new-item-background: #ddd;
$new-item-border: 2px dashed #aaa;
