@import "client";

.line-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line-list__new {
  height: $height;
  width: $width;
}

.line-list__new:hover {
  background: $new-item-background;
  border: $new-item-border;
  cursor: pointer;
}

.line {
  margin-top: 5px;
  margin-bottom: 5px;
  flex-basis: $height;
  width: 100%;
}

.line__svg-line-box {
  position: relative;
  top: -45px;
  left: $width;
  height: 0px;
}

.line__svg-line {
  stroke: $svg-line-color;
  stroke-width: $svg-line-width;
}

.line__title {
  display: inline-block;
  width: $width;
  line-height: $height;
}