---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include _head.html %}
</head>
<body id="top-of-page" class="{{ layout.format }} bg-pic">
	{% unless page.skip_boilerplate %}
	{% include _navigation.html %}
	{% endunless %}

	{% unless page.hide_buy_button %}
		<div class="gumroad-button-wrapper">
			<script src="https://gumroad.com/js/gumroad.js"></script>
			<a class="gumroad-button" href="https://gum.co/fgSJ" target="_blank" data-gumroad-single-product="true">Buy Plottr!</a>
			<a href="https://itunes.apple.com/us/app/plottr/id1336608220?ls=1&mt=8" target="_blank">
				<img src="{{ site.urlimg }}appstore.svg" width="150" alt="Download on the App Store">
			</a>
		</div>
		<div>
		</div>
	{% endunless %}

	{% include _masthead.html %}
	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include _footer.html %}
	{% endunless %}

	{% include _footer_scripts.html %}
</body>
</html>
