---
layout: page-fullwidth
format: homepage
---
<p class="big-teaser center-text white small-spacer">
  {{ page.description }}
</p>
<p class="teaser center-text white small-spacer">
  {{ page.sub_description }}
</p>
<hr/>
<div class="flex">
  <div class="center-text">
    <h1 class="center-text white">Features</h1>
    <ul class="feature-list">
      <li><strong>Visual Timeline</strong><p>Drag and drop your scenes, story lines, and cards to easily create a timeline of your story</p></li>
      <li><strong>Cards</strong><p>Each card on the timeline is like a sticky note on your wall. Add detailed descriptions about each beat of your story. Attach characters, places, or tags to make organizing your plot easy.</p></li>
      <li><strong>Easy to Use</strong><p>It's the easiest story timeline software you'll ever use. So many writers have said that it's the only one that works the way they think</p></li>
      <li><strong>Outline</strong><p>Plottr generates the outline for you from your timeline</p></li>
      <li><strong>Notes</strong><p>Keep all your notes together in one place. Tag and filter to keep them easily organized. Build your world, write lore, and take notes on items that are important to your story.</p></li>
      <li><strong>Characters</strong><p>Build a full character bio customized to your story. Sort and filter by your custom attributes.</p></li>
      <li><strong>Places</strong><p>Organize the places in your story with the same customization as characters.</p></li>
      <li><strong>Vertical or Horizontal</strong><p>Flip the timeline vertically to visualize your story in a different way. For some it's much easier to see it and build it vertically.</p></li>
      <li><strong>Export to Scrivener</strong><p>Take screenshots of your timeline as .png files. Export the outline and all your notes to a Word doc that is easily imported to Scrivener.</p></li>
      <li><strong>Markdown support</strong><p>Most descriptions support markdown syntax so you can have rich text (including embedded images)</p></li>
      <li><strong>Autosave</strong><p>Everything is automatically saved for you so you never lose a thing (use Dropbox, iCloud, gDrive, etc to backup your work)</p></li>
    </ul>
  </div>
  <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
    <div class="video">
      {{ page.iframe}}
    </div>
    <h1 class="center-text white">Screenshots</h1>
    {% include gallery %}
    <hr/>
    <div class="flex">
      <div>
        <p class="teaser center-text white small-spacer" style="margin-top: 10px;">
          {{ page.sub_description }}
        </p>
        <div class="center-text">
          <script src="https://gumroad.com/js/gumroad.js"></script>
          <a class="gumroad-button" href="https://gum.co/fgSJ" target="_blank" data-gumroad-single-product="true">Buy Plottr!</a>
        </div>
        <p class="teaser center-text white">
          Or try out the <a class='link' target="blank" href='https://mailchi.mp/3808a655064c/plottr_free_trial'>Free Trial</a>
        </p>
      </div>
      <div class="center-text">
        <a href="https://itunes.apple.com/us/app/plottr/id1336608220?ls=1&mt=8" target="_blank">
          <img src="{{ site.urlimg }}{{ page.app_store_image }}" width="150" alt="Download on the App Store">
        </a>
        <p class="teaser center-text white" style="margin-top: 10px;">
          It&apos;s also available for iPhone <br/> (iPad &amp; Android coming soon)
        </p>
      </div>
    </div>
  </div>
</div>
<hr/>
{{ content }}
<div class='spacer' />
