---
layout: page-fullwidth
format: homepage
---
<p class="big-teaser center-text white small-spacer">
  {{ page.description }}
</p>
<p class="teaser center-text white small-spacer">
  {{ page.sub_description }}
</p>
<article class='small-spacer' itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
  <div class="flex-video">
    {{ page.iframe}}
  </div>
</article>
<h1 class="center-text white">Screenshots</h1>
{% include gallery %}
<hr/>
<div class="center-text small-spacer">
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <a class="gumroad-button" href="https://gum.co/fgSJ" target="_blank" data-gumroad-single-product="true">Buy Plottr!</a>
</div>
<p class="teaser center-text white small-spacer">
  {{ page.sub_description }}
</p>
<p class="teaser center-text white">
  Or try out the <a class='link' href='https://gum.co/HAsU'>FREE TRIAL</a>
</p>
<hr/>
{{ content }}
<div class='spacer' />
